/build/**
/config/**
/dist/**
/src/forDocs/**
/src/guide/**
/src/images/**
/src/mock/**
/src/test/**
/src/vue/chart/**
/src/dev.js
/src/router.js
/static/**
.eslintrc.js
docStyles.js
styleguide.config.js
