@use 'variables' as *;

$ev-themes: (
  light: (
    /* primary color
    ------------------------- */ primary: #1a6afe,
    info: #5ac8fa,
    success: #00cc47,
    warning: #ff9500,
    error: #ff3b30,
    selected: #730ef4,
    not-allow: #b01012,
    disabled: #b2b2b2,
    default: #666666,

    /* common
    -------------------------- */ font-base: $color-black,
    border-base: #b2b2b2,
    border-light: #e3e3e3,
    background-base: $color-white,
    background-lighten: rgba(#b2b2b2, 0.1),
    /* components
    -------------------------- */ slider-mark-background:
      #f8f8f8,
    tooltip-background: $color-black,

    /* grid
    -------------------------- */ grid-header-border: #7f7f7f,
    grid-bottom-border: #cfcfcf,
    grid-row-selected: #dbf0f9,
    grid-cell-text: rgba(#191919, 0.8),
    grid-row-stripe: #e5e5e5,
    grid-background: #ffffff,
  ),
  dark: (
    /* primary color
    ------------------------- */ primary: #007aff,
    info: #64d2ff,
    success: #32d74b,
    warning: #ff9f0a,
    error: #ff453a,
    selected: #791bf2,
    not-allow: #b01012,
    disabled: #555555,
    default: #444444,

    /* common
    -------------------------- */ font-base: $color-white,
    border-base: #666666,
    border-light: #333333,
    background-base: $color-black,
    background-lighten: rgba(#666666, 0.3),
    /* components
    -------------------------- */ slider-mark-background:
      #b2b2b2,
    tooltip-background: #555555,

    /* grid
    -------------------------- */ grid-background: #0d0d0d,
  ),
) !default;
