.bar {
    stroke: none;
}

.cat1 {
    fill: #3366cc;
}

.cat2 {
    fill: #dc3912;
}

.cat3 {
    fill: #ff9900;
}

.cat4 {
    fill: #109618;
}

.cat5 {
    fill: #990099;
}

.cat6 {
    fill: #0099c6;
}

.cat7 {
    fill: #dd4477;
}

.cat8 {
    fill: #66aa00;
}

.cat9 {
    fill: #b82e2e;
}

.cat10 {
    fill: #316395
}

.cat11 {
    fill: #994499;
}

.cat12 {
    fill: #22aa99;
}

.cat13 {
    fill: #aaaa11;
}

.cat14 {
    fill: #6633cc;
}

.cat15 {
    fill: #e67300;
}