@mixin evThemify($ev-themes: $ev-themes) {
  @each $theme, $map in $ev-themes {
    @if $theme == 'dark' {
      .#{$theme} & {
        $ev-theme-map: () !global;

        @each $key, $submap in $map {
          $value: map-get(map-get($ev-themes, $theme), '#{$key}');
          $ev-theme-map: map-merge($ev-theme-map, ($key: $value)) !global;
        }

        @content;
        $ev-theme-map: null !global;
      }
    }

    @else {
      $ev-theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($ev-themes, $theme), '#{$key}');
        $ev-theme-map: map-merge($ev-theme-map, ($key: $value)) !global;
      }

      @content;
      $ev-theme-map: null !global;
    }
  }
}

@function evThemed($key) {
  @return map-get($ev-theme-map, $key);
}
