@import '../utils/variables';

$ev-themes: (
  light: (
    font-color-base: $color-black,

    /* button
    -------------------------- */
    button-disabled: $color-light-level6,
    button-disabled-bg: $color-light-level2,
    button-disabled-border: $color-light-level4,
    button-ghost: $color-dark-level5,
    button-ghost-border: $color-light-level4,
    button-dashed: $color-dark-level5,
    button-dashed-border: $color-light-level5,
    button-dashed-active-bg: $color-light-level2,
    button-text: $color-black,

    /* checkbox
    -------------------------- */
    checkbox: $color-dark-level4,
    checkbox-border: $color-light-level6,
    checkbox-disabled: $color-light-level6,

    /* radio
    -------------------------- */
    radio: $color-dark-level4,
    radio-border: $color-light-level6,
    radio-disabled: $color-light-level6,

    /* select box
    -------------------------- */
    selectbox-border: $color-light-level6,
    selectbox-bg: $color-light-level1,
    selectbox-bg-hover: $color-light-level3,
    selectbox-select-bg: $color-light-level2,

    /* datepicker
    -------------------------- */
    datepicker-input-border: $color-light-level6,

    /* window
    -------------------------- */
    window-bg: $color-light-level1,
    window-border: $color-light-level6,
    window-btn: $color-dark-level6,
    window-btn-bg: transparent,

    /* tab
    -------------------------- */
    tab-bg: $color-light-level1,
    tab-active-bg: $color-light-level1,
    tab-border: $color-light-level6,

    /* grid
    -------------------------- */
    grid-header-border: $color-light-level7,
    grid-bottom-border: lighten($color-light-level7, 20%),
    grid-row-selected: $color-light-level3,
    grid-cell-text: lighten($color-light-level8, 10%),

    /* input
    -------------------------- */
    textfield-input-border: $color-light-level6,
    textfield-input-background: $color-light-level1,
    textfield-input-disabled: lighten($color-black, 40%),
    textfield-input-disabled-background: $color-light-level2,

    /* menu
    -------------------------- */
    menu-selected-bg: $color-selected,

  ),
  dark: (
    font-color-base: $color-white,

    /* button
    -------------------------- */
    button-disabled: $color-light-level6,
    button-disabled-bg: $color-light-level2,
    button-disabled-border: $color-light-level4,
    button-ghost: $color-dark-level5,
    button-ghost-border: $color-light-level5,
    button-dashed: $color-dark-level5,
    button-dashed-border: $color-light-level4,
    button-dashed-active-bg: $color-light-level2,
    button-text: $color-black,

    /* checkbox
    -------------------------- */
    checkbox: $color-dark-level8,
    checkbox-border: $color-dark-level8,
    checkbox-disabled: $color-dark-level6,

    /* radio
    -------------------------- */
    radio: $color-dark-level8,
    radio-border: $color-dark-level8,
    radio-disabled: $color-dark-level6,

    /* select box
    -------------------------- */
    selectbox-border: $color-dark-level6,
    selectbox-bg: $color-dark-level3,
    selectbox-bg-hover: $color-dark-level4,
    selectbox-select-bg: $color-dark-level5,

    /* datepicker
    -------------------------- */
    datepicker-input-border: $color-dark-level6,


    /* window
    -------------------------- */
    window-bg: $color-dark-level4,
    window-border: $color-dark-level6,
    window-btn: $color-dark-level8,
    window-btn-bg: $color-dark-level5,

    /* tab
    -------------------------- */
    tab-bg: $color-dark-level6,
    tab-border: $color-dark-level1,

    /* grid
    -------------------------- */
    grid-header-border: $color-dark-level7,
    grid-bottom-border: lighten($color-dark-level7, 10%),
    grid-row-selected: lighten($color-light-level8, 10%),
    grid-cell-text: darken($color-white, 25%),

    /* input
    -------------------------- */
    textfield-input-border: $color-dark-level6,
    textfield-input-background: $color-dark-level1,
    textfield-input-disabled: darken($color-white, 40%),
    textfield-input-disabled-background: $color-dark-level4,

    /* menu
    -------------------------- */
    menu-selected-bg: $color-selected-blue,

  ),
) !default;
