@charset "UTF-8";

/************************************************************************************
 common
************************************************************************************/
@font-face {
  font-family:'NanumGothic';
  src:url('../webfonts/NanumGothic.ttf') format('truetype');
}
*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/************************************************************************************
 Icon
************************************************************************************/
.evui-select-arrow{
  position: absolute;
  top: 50%;
  right: 8px;
  width: 10px;
  height: 10px;
  margin-top: -4px;
  line-height: 3px;
  font-size: 16px;
  color: #888888;
  transition: all .2s ease-in-out;
}

.evui-select-arrow.select-down{
  transform: rotate(180deg);
}

.fade-enter,
.fade-leave-to{
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active{
  transition: opacity .5s;
}

/************************************************************************************
 Checkbox
************************************************************************************/
.evui-checkbox{
  display: inline-block;
}

.evui-checkbox input[type="checkbox"]{
  display: none;
}

.evui-checkbox input[type="checkbox"] + label{
  display: inline-block;
  position: relative;
  padding-left: 19px;
  padding-right: 5px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}

.evui-checkbox.evui-disabled input[type="checkbox"] + label{
  color: #c1c1c1;
  cursor: not-allowed;
  transition: all .2s;
}

div.evui-checkbox.evui-disabled input[type="checkbox"] + label:before{
  border: 1px solid #c1c1c1;
  color: #c1c1c1;
  transition: all .2s;
}

.evui-checkbox input[type="checkbox"] + label:before{
  content:"";
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 13px;
  height: 13px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 11px;
  text-aligh: center;
  text-indent: 2px;
  line-height: 13px;
}

.evui-checkbox input[type="checkbox"]:hover + label:before{
  content: "\2713";
  color: #ddd;
}

.evui-checkbox input[type="checkbox"]:checked + label:before{
  content: "\2713";
  border: 1px solid #2f87c1;
  color: #2f87c1;
  font-weight: 800;
  transition: all .2s;
}
.evui-checkbox-group-inner {
  display: inline-block;
}

/************************************************************************************
 Radio
************************************************************************************/
.evui-radio {
  display: inline-block;
}
.evui-radio [type="radio"]:checked,
.evui-radio [type="radio"]:not(:checked) {
  display: none;
}
.evui-radio [type="radio"]:checked + label,
.evui-radio [type="radio"]:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding-left: 21px;
  padding-right: 5px;
  font-size: 13px;
  cursor: pointer;
  line-height: 16px;
  user-select: none;
}
.evui-radio [type="radio"]:checked + label:before,
.evui-radio [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;

}
.evui-radio.evui-disabled [type="radio"]:checked + label,
.evui-radio.evui-disabled [type="radio"]:not(:checked) + label {
  color: #c1c1c1;
}
.evui-radio.evui-disabled [type="radio"]:checked + label:before,
.evui-radio.evui-disabled [type="radio"]:not(:checked) + label:before {
  background: #f1f1f1;
}
.evui-radio.evui-disabled [type="radio"]:checked + label:after,
.evui-radio.evui-disabled [type="radio"]:not(:checked) + label:after {
  background: #c1c1c1;
}
.evui-radio [type="radio"]:checked + label:after,
.evui-radio [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #337ab6;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.evui-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.evui-radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.evui-radio.evui-disabled input[type="radio"] + label {
  cursor: not-allowed;
}
.evui-radio-group-inner {
  display: inline-block;
}

/************************************************************************************
 Code Mirror
************************************************************************************/

.CodeMirror {
  font-size: 13px;
  height: 100% !important;
}
.vue-codemirror-wrap {
  height: 100% !important;
}

/************************************************************************************
 Guide Page
************************************************************************************/

.article-title {
  color: #0055aa;
  padding: 4px 0px 8px 0px;
}

.evui-select-tag-blue,
.evui-select-tag.green,
.evui-select-tag-red,
.evui-select-tag-yellow{
  border:0
}

.evui-select-tag-blue,
.evui-select-tag-blue .close,
.evui-select-tag-blue .close:hover,
.evui-select-tag.green,
.evui-select-tag.green .close,
.evui-select-tag.green .close:hover,
.evui-select-tag-red,
.evui-select-tag-red .close,
.evui-select-tag-red .close:hover,
.evui-select-tag-yellow,
.evui-select-tag-yellow .close,
.evui-select-tag-yellow .close:hover{
  color:#fff
}
.evui-select-tag-blue,
.evui-select-tag-blue.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#2d8cf0
}
.evui-select-tag.green,
.evui-select-tag.green.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#19be6b
}
.evui-select-tag-yellow,
.evui-select-tag-yellow.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#f90
}
.evui-select-tag-red,
.evui-select-tag-red.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#ed3f14
}
.evui-select-tag .evui-select-tag.border{
  height:24px;
  line-height:24px;
  border:1px solid #e9eaec;
  color:#e9eaec;background:#fff!important;position:relative
}
.evui-select-tag .evui-select-tag.border .close{
  color:#666;margin-left:12px!important
}
.evui-select-tag .evui-select-tag.border:after{
  content:"";
  display:none;
  width:1px;
  background:currentColor;
  position:absolute;top:0;bottom:0;
  right:22px
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-closable:after{
  display:block
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-closable .close{
  margin-left:18px!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-blue{
  color:#2d8cf0!important;
  border:1px solid #2d8cf0!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-blue:after{
  background:#2d8cf0
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-blue .close{
  color:#2d8cf0!important
}
.evui-select-tag .evui-select-tag.border.green{
  color:#19be6b!important;
  border:1px solid #19be6b!important
}
.evui-select-tag .evui-select-tag.border.green:after{
  background:#19be6b
}
.evui-select-tag .evui-select-tag.border.green .close{
  color:#19be6b!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-yellow{
  color:#f90!important;
  border:1px solid #f90!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-yellow:after{
  background:#f90
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-yellow .close{
  color:#f90!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-red{
  color:#ed3f14!important;
  border:1px solid #ed3f14!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-red:after{
  background:#ed3f14
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-red .close{
  color:#ed3f14!important
}
.evui-select-tag-dot{
  height:32px;
  line-height:32px;
  border:1px solid #e9eaec!important;
  color:#495060!important;
  background:#fff!important;
  padding:0 12px
}
.evui-select-tag-dot-inner{
  display:inline-block;
  width:12px;
  height:12px;
  margin-right:8px;
  border-radius:50%;
  background:#e9eaec;
  position:relative;top:1px
}
.evui-select-tag-dot .close{
  color:#666!important;
  margin-left:12px!important
}

/************************************************************************************
 Input
************************************************************************************/

/*base class*/
.evui-input-text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #dddee1;
  color: #495060;
  font-size: 12px;
  line-height: 2;
  cursor: text;
  background-image: none;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/*border color when mouse hover*/
.evui-input-text.focus, .evui-input-text.focus:hover {
  border-color : #2d8cf0;
  opacity: 1;
}

.evui-input-text:hover {
  border-color : #A6A6A6;
  opacity: 1;
}

.evui-input-text-input {
  width: 100%;
  padding: 0 7px;
  text-align: left;
  outline: 0;
  -moz-appearance: textfield;
  color: #666;
  border: 0;
  border-radius: 4px;
}

/*disable base class*/
.evui-input-text-disabled .evui-input-text-input.evui-input-text-textarea {
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  color: #ccc;
}
/*use border color when mouse hover*/
.evui-input-text-disabled:hover,.evui-input-text:hover.error,  .evui-input-text.focus.error {
  border-color : #D77F7F;
}
/*inner input div class*/
.evui-input-text-disabled .evui-input-text {
  opacity: .72;
  cursor: not-allowed;
  background-color: #f3f3f3;
}
.evui-input-text.evui-input-text-disabled {
  background-color: #f3f3f3;
}
.evui-input-text-disabled {
  opacity: .72;
  color: #ccc!important;
  cursor: not-allowed;
}
.evui-input-text-input[disabled] {
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  color: #ccc;
}

.evui-input-text-textarea {
  display: block;
  text-align: left;
  line-height: 1.5;
  padding: 4px 7px;
  outline: 0;
  color: #666;
  border: 0;
  overflow: hidden;
  border-radius: 4px;
}

.evui-input-text-textarea[disabled] {
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  color: #ccc;
}

.evui-input-text-valid-check {
  font-size: 12px;
}
.evui-input-text-valid-error {
  padding-left: 3px;
  padding-right: 5px;
  color: #ED1313;
  float:left
}
.evui-input-text-valid-max-length {
  padding-left: 5px;
  padding-right: 3px;
  float:right
}

.evui-input-text-valid-max-length.error {
  color: #ED1313;
}

/*base class*/
.evui-input-text {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #dddee1;
  color: #495060;
  font-size: 12px;
  line-height: 2;
  cursor: text;
  background-image: none;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/*border color when mouse hover*/
.evui-input-text:hover {
  border-color : #2d8cf0;
}

.evui-input-text-input {
  width: 100%;
  padding: 0 7px;
  text-align: left;
  outline: 0;
  -moz-appearance: textfield;
  color: #666;
  border: 0;
  border-radius: 4px;
}

/*disable base class*/
.evui-input-text-disabled .evui-input-text-input {
  background-color: #f3f3f3;
  cursor: not-allowed;
  color: #ccc;
}
/*use border color when mouse hover*/
.evui-input-text-disabled:hover {
  border-color : #D77F7F;
}
/*inner input div class*/
.evui-input-text-disabled .evui-input-text {
  opacity: .72;
  cursor: not-allowed;
  background-color: #f3f3f3;
}
.evui-input-text.evui-input-text-disabled {
  background-color: #f3f3f3;
}
.evui-input-text-disabled {
  opacity: .72;
  color: #ccc!important;
  cursor: not-allowed;
}
.evui-input-text-input[disabled] {
  background-color: #f3f3f3;
  cursor: not-allowed;
  color: #ccc;
}












































