@charset "UTF-8";

/************************************************************************************
 common
************************************************************************************/
*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.evui-size-small{
  height: 22px;
}
.evui-size-normal{
  height: 30px;
}
.evui-size-large{
  height: 34px;
}

.fade-enter,
.fade-leave-to{
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active{
  transition: opacity .5s;
}

/************************************************************************************
 Checkbox
************************************************************************************/
.evui-checkbox{
  display: inline-block;
}

.evui-checkbox input[type=checkbox]{
  display: none;
}

.evui-checkbox input[type=checkbox]+label{
  display: inline-block;
  position: relative;
  padding-left: 25px;
  font-size: 13px;
  cursor: pointer;
}

.evui-checkbox.evui-diabled input[type=checkbox]+label{
  color: #c1c1c1;
  cursor: not-allowed;
}

div.evui-checkbox.evui-diabled input[type=checkbox]+label:before{
  background-color: #c1c1c1;
}

.evui-checkbox input[type=checkbox]+label:before{
  content:"";
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #ccc;
  border-radius: 4px;
  font-size: 13px;
  text-aligh: center;
  text-indent: 2px;
  line-height: 15px;
}

.evui-checkbox input[type=checkbox]:hover + label:before{
  content: "\2713";
  color: #ddd;
}

.evui-checkbox input[type=checkbox]:checked+label:before{
  content: "\2713";
  color: #fff;
  background: #2f87c1;
  font-weight: 800;
}

/************************************************************************************
 SelectBox
************************************************************************************/

/** evui-selectbox **/

.evui-selectbox{
  display: inline-block;
  position: relative;
  border: 1px solid #dddeee;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 14px;
  line-height: normal;
}
.evui-selectbox:hover{
  background-color: #eeeeee;
  border-color: #bbb;
  cursor: pointer;
}

/**  evui-selectbox > selectbox-field  **/
/**  evui-selectbox > selectbox-field > multiple-tag-view  **/
/**  evui-selectbox > selectbox-field > input-text  **/
/**  evui-selectbox > selectbox-field > arrow-icon  **/

.evui-selectbox .selectbox-field{
  width: 100%;
  height: 100%;
}
.evui-selectbox .selectbox-field .multiple-tag-view{
  width: calc(100% - 25px);
  height: 100%;
  padding: 0px 4px;
  white-space: nowrap;
  overflow: hidden;
}
.evui-selectbox .selectbox-field .input-text{
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  border: 0px;
  border-radius: 3px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.evui-selectbox .selectbox-field .input-text:focus{
  border-color: #66afe8;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.evui-selectbox .selectbox-field .arrow-icon{
  position: absolute;
  top: 50%;
  right: 8px;
  width: 10px;
  height: 10px;
  margin-top: -4px;
  line-height: 3px;
  font-size: 16px;
  font-weight: 900;
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-variant: normal;
  color: #888888;
  transition: all .2s ease-in-out;
}
.evui-selectbox .selectbox-field .arrow-icon:before {
  content: "\F0DD"
}
.evui-selectbox .selectbox-field .arrow-icon.rotate-180{
  transform: rotate(180deg);
}

/**  dropdown-area  **/
/**  dropdown-area > multiple-input-area **/
/**  dropdown-area > multiple-input-area > input-text **/

.dropdown-area{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdown-area .multiple-input-area{
  width: 100%;
  height: 100%;
  padding: 3px;
}
.dropdown-area .multiple-input-area .input-text{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/**  dropdown-area > listbox-area **/
/**  dropdown-area > listbox-area > group-area **/
/**  dropdown-area > listbox-area > group-area > title **/

.dropdown-area .listbox-area{
  width: 100%;
  height: 100%;
}
.dropdown-area .listbox-area .group-area{
  list-style-type: none;
  height: 200px;
  margin:0;
  padding: 2px 0px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px #ccc;
  box-shadow: 0 6px 12px #ccc;
  overflow: auto;
}
.dropdown-area .listbox-area .group-area .title{
  padding: 7px 10px;
  color:#999;
}

/**  group-area > evui-listbox  **/
/**  group-area > evui-listbox > evui-listbox-ul **/
/**  group-area > evui-listbox > evui-listbox-li **/

.group-area .evui-listbox{
  width: 100%;
}
.group-area .evui-listbox .evui-listbox-ul{
  height: 100%;
}
.group-area .evui-listbox .evui-listbox-li{
  display: block;
  list-style: none;
  padding: 7px 16px;
  color: #495060;
  white-space: nowrap;
  cursor: pointer;
  transition: background .1s ease-in-out;
}
.group-area .evui-listbox .evui-listbox-li:hover{
  background-color: #eeeeee;
}
.group-area .evui-listbox .evui-listbox-li.selected{
  color: #fff;
  background-color: #337ab6;
}

/**  single-area > evui-listbox  **/
/**  single-area > evui-listbox > evui-listbox-ul **/
/**  single-area > evui-listbox > evui-listbox-li **/

.single-area .evui-listbox{
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px #ccc;
  box-shadow: 0 6px 12px #ccc;
}
.single-area .evui-listbox .evui-listbox-ul{
  list-style-type: none;
  height: 200px;
  padding: 2px 0px;
  overflow: auto;
}
.single-area .evui-listbox .evui-listbox-li{
  display: block;
  list-style: none;
  padding: 7px 16px;
  color: #495060;
  white-space: nowrap;
  cursor: pointer;
  transition: background .1s ease-in-out;
}
.single-area .evui-listbox .evui-listbox-li:hover{
  background-color: #eeeeee;
}
.single-area .evui-listbox .evui-listbox-li.selected{
  color: #fff;
  background-color: #337ab6;
}

/**  evui-selectbox > evui-select-tag **/

.evui-select-tag{
  display: inline-block;
  margin: 4px 4px 0 0;
  padding: 1px 10px;
  border: 1px solid #e9eaec;
  border-radius: 3px;
  background: #f7f7f7;
  font-size: 12px;
  cursor: pointer
}
.evui-select-tag:hover{
  opacity:.85
}
.evui-select-tag .text{
  position: relative;
  top: -1px;
  color:#495060;
}
.evui-select-tag .close{
  display: inline-block;
  margin-left: 3px;
  color: #666;
  opacity: .66;
  cursor: pointer;
  -webkit-transform: scale(1.42857143) rotate(0);
  -ms-transform: scale(1.42857143) rotate(0);
  transform: scale(1.42857143) rotate(0);
}
.evui-select-tag .close:before{
  position: relative;
  top: -2px;
  font-style: normal;
  font-size: 10px;
  font-family: Arial, sans-serif;
  content: 'x';
}
.evui-select-tag .close:hover{
  opacity: 1
}
.evui-select-tag:not(.evui-select-tag .evui-select-tag.border):not(.evui-select-tag-dot):not(.evui-select-tag.checked){
  background:0 0;
  border:0;
  color:#495060
}
.evui-select-tag:not(.evui-select-tag .evui-select-tag.border):not(.evui-select-tag-dot):not(.evui-select-tag.checked) .close{
  color:#495060!important
}
.evui-select-tag.color-red{
  color:#ed3f14!important;
  border-color:#ed3f14
}
.evui-select-tag.color-green{
  color:#19be6b!important;
  border-color:#19be6b
}
.evui-select-tag.color-blue{
  color:#2d8cf0!important;
  border-color:#2d8cf0
}
.evui-select-tag.color-yellow{
  color:#f90!important;
  border-color:#f90
}
.evui-select-tag.color-white{
  color:#fff!important
}


.evui-select-tag-blue,
.evui-select-tag.green,
.evui-select-tag-red,
.evui-select-tag-yellow{
  border:0
}
.evui-select-tag-blue,
.evui-select-tag-blue .close,
.evui-select-tag-blue .close:hover,
.evui-select-tag.green,
.evui-select-tag.green .close,
.evui-select-tag.green .close:hover,
.evui-select-tag-red,
.evui-select-tag-red .close,
.evui-select-tag-red .close:hover,
.evui-select-tag-yellow,
.evui-select-tag-yellow .close,
.evui-select-tag-yellow .close:hover{
  color:#fff
}
.evui-select-tag-blue,
.evui-select-tag-blue.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#2d8cf0
}
.evui-select-tag.green,
.evui-select-tag.green.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#19be6b
}
.evui-select-tag-yellow,
.evui-select-tag-yellow.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#f90
}
.evui-select-tag-red,
.evui-select-tag-red.evui-select-tag-dot .evui-select-tag-dot-inner{
  background:#ed3f14
}
.evui-select-tag .evui-select-tag.border{
  height:24px;
  line-height:24px;
  border:1px solid #e9eaec;
  color:#e9eaec;background:#fff!important;position:relative
}
.evui-select-tag .evui-select-tag.border .close{
  color:#666;margin-left:12px!important
}
.evui-select-tag .evui-select-tag.border:after{
  content:"";
  display:none;
  width:1px;
  background:currentColor;
  position:absolute;top:0;bottom:0;
  right:22px
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-closable:after{
  display:block
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-closable .close{
  margin-left:18px!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-blue{
  color:#2d8cf0!important;
  border:1px solid #2d8cf0!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-blue:after{
  background:#2d8cf0
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-blue .close{
  color:#2d8cf0!important
}
.evui-select-tag .evui-select-tag.border.green{
  color:#19be6b!important;
  border:1px solid #19be6b!important
}
.evui-select-tag .evui-select-tag.border.green:after{
  background:#19be6b
}
.evui-select-tag .evui-select-tag.border.green .close{
  color:#19be6b!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-yellow{
  color:#f90!important;
  border:1px solid #f90!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-yellow:after{
  background:#f90
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-yellow .close{
  color:#f90!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-red{
  color:#ed3f14!important;
  border:1px solid #ed3f14!important
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-red:after{
  background:#ed3f14
}
.evui-select-tag .evui-select-tag.border.evui-select-tag-red .close{
  color:#ed3f14!important
}
.evui-select-tag-dot{
  height:32px;
  line-height:32px;
  border:1px solid #e9eaec!important;
  color:#495060!important;
  background:#fff!important;
  padding:0 12px
}
.evui-select-tag-dot-inner{
  display:inline-block;
  width:12px;
  height:12px;
  margin-right:8px;
  border-radius:50%;
  background:#e9eaec;
  position:relative;top:1px
}
.evui-select-tag-dot .close{
  color:#666!important;
  margin-left:12px!important
}



















































