<table>
    <thead>
    <tr>
        <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
            {{ key }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr v-for="(entry, index) in filteredData" :class="index % 2 ? 'row-even' : 'row-old'">
            <td v-for="key in entry">
                {{ key }}
            </td>
        </tr>
    </tbody>
</table>