@import '../themes/index';

@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{'-' + $vendor + '-' + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin font-hide() {
  font-size: 0;
  text-indent: -999px;
}
