// Font
$font-size-base: 12px !default;
$font-size-small: 11px !default;
$font-size-medium: 14px !default;
$font-size-large: 16px !default;

$font-weight-base: 400 !default;
$font-family-base: 'NanumGothic', tahoma, arial, verdana, sans-serif !default;

// Color
$color-primary: #198FFF !default;
$color-info: #2DB7F5 !default;
$color-warning: #FF9900 !default;
$color-error: #ED4014 !default;
$color-not-allow: #B01012 !default;

$color-white: #FFFFFF !default;
$color-black: #202020 !default;

// etc
$border-radius-base: 4px;
$border-radius-circle: 50%;
$border-radius-half: 32px;
$border-solid: 1px solid;
$border-dotted: 1px dotted;

// color - themes
$color-dark-level1: #141518 !default;
$color-dark-level2: #1D1E24 !default;
$color-dark-level3: #25262E !default;
$color-dark-level4: #353740 !default;
$color-dark-level5: #3E414B !default;
$color-dark-level6: #545965 !default;
$color-dark-level7: #A0A5AE !default;
$color-dark-level8: #EFF1F7 !default;

$color-light-level1: #F7F7F7 !default;
$color-light-level2: #DDDEE1 !default;
$color-light-level3: #CCCCCC !default;
$color-light-level4: #BBBEC4 !default;
$color-light-level5: #495060 !default;



