
// gray
$color-gray100: #000000;
$color-gray95: #0D0D0D;
$color-gray90: #191919;
$color-gray85: #262626;
$color-gray80: #333333;
$color-gray75: #404040;
$color-gray70: #4C4C4C;
$color-gray60: #666666;
$color-gray50: #7F7F7F;
$color-gray40: #999999;
$color-gray35: #A6A6A6;
$color-gray30: #B2B2B2;
$color-gray20: #CCCCCC;
$color-gray19: #CFCFCF;
$color-gray13: #DDDDDD;
$color-gray10: #E5E5E5;
$color-gray8: #EBEBEB;
$color-gray5: #F2F2F2;
$color-gray1: #FCFCFC;
$color-gray0: #FFFFFF;

// light
$color-light-blue: #1A6AFE;
$color-light-blue90: #3078FE;
$color-light-blue80: #4888FE;
$color-light-blue70: #5E96FE;
$color-light-blue60: #76A6FE;
$color-light-blue50: #8CB4FE;
$color-light-blue40: #A3C3FF;
$color-light-blue30: #BAD2FE;
$color-light-blue20: #D1E1FF;
$color-light-blue10: #E8F0FE;

$color-light-indigo: #5856D6;
$color-light-indigo90: #6866DA;
$color-light-indigo80: #7978DE;
$color-light-indigo70: #8A88E2;
$color-light-indigo60: #9B9AE6;
$color-light-indigo50: #ABAAEA;
$color-light-indigo40: #BCBBEF;
$color-light-indigo30: #CCCCF2;
$color-light-indigo20: #DEDDF7;
$color-light-indigo10: #EEEEFA;

$color-light-deep-purple: #730EF4;
$color-light-deep-purple90: #8126F5;
$color-light-deep-purple80: #8F3EF6;
$color-light-deep-purple70: #9D56F7;
$color-light-deep-purple60: #AB6FF9;
$color-light-deep-purple50: #B986F9;
$color-light-deep-purple40: #C79FFB;
$color-light-deep-purple30: #D5B6FB;
$color-light-deep-purple20: #E3CFFD;
$color-light-deep-purple10: #F1E8FD;

$color-light-skyblue: #5AC8FA;
$color-light-skyblue90: #6ACDFA;
$color-light-skyblue80: #7BD3FB;
$color-light-skyblue70: #8BD8FB;
$color-light-skyblue60: #9CDEFC;
$color-light-skyblue50: #ACE3FC;
$color-light-skyblue40: #BDE9FD;
$color-light-skyblue30: #CDEEFD;
$color-light-skyblue20: #DEF4FE;
$color-light-skyblue10: #EEF9FE;

$color-light-green: #00CC47;
$color-light-green90: #19D059;
$color-light-green80: #33D66C;
$color-light-green70: #4CDB7E;
$color-light-green60: #66E091;
$color-light-green50: #7FE5A3;
$color-light-green40: #99EAB5;
$color-light-green30: #B2EFC7;
$color-light-green20: #CCF5DA;
$color-light-green10: #E5F9EC;

$color-light-red: #FF3B30;
$color-light-red90: #FF4E44;
$color-light-red80: #FF6259;
$color-light-red70: #FF756E;
$color-light-red60: #FF8983;
$color-light-red50: #FF9D97;
$color-light-red40: #FFB1AC;
$color-light-red30: #FFC4C0;
$color-light-red20: #FFD8D6;
$color-light-red10: #FFEBEA;

$color-light-orange: #FF9500;
$color-light-orange90: #FF9F19;
$color-light-orange80: #FFAA33;
$color-light-orange70: #FFB44C;
$color-light-orange60: #FFBF66;
$color-light-orange50: #FFCA7F;
$color-light-orange40: #FFD599;
$color-light-orange30: #FFDFB2;
$color-light-orange20: #FFEACC;
$color-light-orange10: #FFF4E5;

$color-light-yellow: #FFCC00;
$color-light-yellow90: #FFD119;
$color-light-yellow80: #FFD633;
$color-light-yellow70: #FFDB4C;
$color-light-yellow60: #FFE066;
$color-light-yellow50: #FFE57F;
$color-light-yellow40: #FFEB99;
$color-light-yellow30: #FFEFB2;
$color-light-yellow20: #FFF5CC;
$color-light-yellow10: #FFF9E5;

$color-light-purple: #AF52DE;
$color-light-purple90: #B763E1;
$color-light-purple80: #BF75E5;
$color-light-purple70: #C785E7;
$color-light-purple60: #CF97EB;
$color-light-purple50: #D7A8EE;
$color-light-purple40: #DFBAF2;
$color-light-purple30: #E7CBF5;
$color-light-purple20: #EFDCF8;
$color-light-purple10: #F7EDFB;

// dark
$color-dark-blue: #007AFF;
$color-dark-blue90: #1987FF;
$color-dark-blue80: #3395FF;
$color-dark-blue70: #4CA1FF;
$color-dark-blue60: #66AFFF;
$color-dark-blue50: #7FBCFF;
$color-dark-blue40: #99CAFF;
$color-dark-blue30: #B2D7FF;
$color-dark-blue20: #CCE4FF;
$color-dark-blue10: #E5F1FF;

$color-dark-indigo: #5E5CE6;
$color-dark-indigo90: #6E6CE8;
$color-dark-indigo80: #7E7DEB;
$color-dark-indigo70: #8E8CED;
$color-dark-indigo60: #9E9DF0;
$color-dark-indigo50: #AEADF2;
$color-dark-indigo40: #BFBEF5;
$color-dark-indigo30: #CECEF7;
$color-dark-indigo20: #DFDEFA;
$color-dark-indigo10: #EEEEFC;

$color-dark-deep-purple: #791BF2;
$color-dark-deep-purple90: #8631F3;
$color-dark-deep-purple80: #9449F5;
$color-dark-deep-purple70: #A15FF5;
$color-dark-deep-purple60: #AF76F7;
$color-dark-deep-purple50: #BC8DF8;
$color-dark-deep-purple40: #C9A4FA;
$color-dark-deep-purple30: #D6BAFB;
$color-dark-deep-purple20: #E4D1FC;
$color-dark-deep-purple10: #F1E8FD;

$color-dark-skyblue: #64D2FF;
$color-dark-skyblue90: #73D6FF;
$color-dark-skyblue80: #83DBFF;
$color-dark-skyblue70: #92DFFF;
$color-dark-skyblue60: #A2E4FF;
$color-dark-skyblue50: #B1E8FF;
$color-dark-skyblue40: #C1EDFF;
$color-dark-skyblue30: #D0F1FF;
$color-dark-skyblue20: #E0F6FF;
$color-dark-skyblue10: #EFFAFF;

$color-dark-green: #32D74B;
$color-dark-green90: #46DB5D;
$color-dark-green80: #5BDF6F;
$color-dark-green70: #6FE381;
$color-dark-green60: #84E793;
$color-dark-green50: #98EBA5;
$color-dark-green40: #ADEFB7;
$color-dark-green30: #C1F3C9;
$color-dark-green20: #D6F7DB;
$color-dark-green10: #EAFBED;

$color-dark-red: #FF453A;
$color-dark-red90: #FF574D;
$color-dark-red80: #FF6A61;
$color-dark-red70: #FF7C75;
$color-dark-red60: #FF8F89;
$color-dark-red50: #FFA29C;
$color-dark-red40: #FFB5B0;
$color-dark-red30: #FFC7C3;
$color-dark-red20: #FFDAD8;
$color-dark-red10: #FFECEB;

$color-dark-orange: #FF9F0A;
$color-dark-orange90: #FFA822;
$color-dark-orange80: #FFB23B;
$color-dark-orange70: #FFBB53;
$color-dark-orange60: #FFC56C;
$color-dark-orange50: #FFCF84;
$color-dark-orange40: #FFD99D;
$color-dark-orange30: #FFE2B5;
$color-dark-orange20: #FFECCE;
$color-dark-orange10: #FFF5E6;

$color-dark-yellow: #FFD60A;
$color-dark-yellow90: #FFDA22;
$color-dark-yellow80: #FFDE3B;
$color-dark-yellow70: #FFE253;
$color-dark-yellow60: #FFE66C;
$color-dark-yellow50: #FFEA84;
$color-dark-yellow40: #FFEF9D;
$color-dark-yellow30: #FFF2B5;
$color-dark-yellow20: #FFF7CE;
$color-dark-yellow10: #FFFAE6;

$color-dark-purple: #BF5AF2;
$color-dark-purple90: #C56AF3;
$color-dark-purple80: #CC7BF5;
$color-dark-purple70: #D28BF5;
$color-dark-purple60: #D99CF7;
$color-dark-purple50: #DFACF8;
$color-dark-purple40: #E5BDFA;
$color-dark-purple30: #EBCDFB;
$color-dark-purple20: #F2DEFC;
$color-dark-purple10: #F8EEFD;
