// gray
$color-gray100: #000000;
$color-gray95: #0D0D0D;
$color-gray90: #191919;
$color-gray85: #262626;
$color-gray80: #333333;
$color-gray75: #404040;
$color-gray70: #4C4C4C;
$color-gray60: #666666;
$color-gray50: #7F7F7F;
$color-gray40: #999999;
$color-gray35: #A6A6A6;
$color-gray30: #B2B2B2;
$color-gray20: #CCCCCC;
$color-gray19: #CFCFCF;
$color-gray13: #DDDDDD;
$color-gray10: #E5E5E5;
$color-gray8: #EBEBEB;
$color-gray5: #F2F2F2;
$color-gray1: #FCFCFC;
$color-gray0: #FFFFFF;
