<div class="evui-tree-wrapper"
     :style="treeStyle">
    <div class="evui-tree-header">
        <span class="title"
              v-show="treeOptions.title"
              :style="titleStyle">
            {{treeOptions.title}}
        </span>
    </div>
    <div class="evui-tree-body">
        <table ref="treeTable" :style="{width:treeOptions.width+'px'}" class="evui-tree-table">
            <thead>
                <tr>
                    <header-cell v-for="col in columnOptions"
                                 :dataIndex         ="col.dataIndex"
                                 :width             ="col.width"
                                 :text              ="col.name"
                                 :draggable         ="col.draggable"
                    ></header-cell>
                    <!--<th v-for="col in columnOptions"-->
                        <!--v-show="col.visible"-->
                        <!--:width="col.width">-->
                        <!--{{ col.name }}-->
                    <!--</th>-->
                </tr>
            </thead>
            <tbody>
                <tree-node
                        v-for="node in treeMap"
                        key="node.id"
                        @node-expand="setExpandNode"
                        :columns="columnOptions"
                        :treeColumn="treeColumn"
                        :nodeObj="node">
                </tree-node>
            </tbody>
            <div ref="dragLine" class="tree-drag-line"></div>
        </table>
    </div>
    <div class="evui-tree-footer"></div>
</div>