<div class="evui-tree-wrapper"
     :style="treeStyle">
    <div class="evui-tree-header">
        <span class="title"
              v-if="treeOptions.title"
              :style="titleStyle">
            {{treeOptions.title}}
        </span>
    </div>
    <div class="evui-tree-body">
        <table ref="treeTable" :style="{width:treeOptions.width+'px'}" class="evui-tree-table">
            <thead ref="evuiTreeThead" class="evui-tree-thead" :style="{width:treeOptions.width+'px'}">
                <tr>
                    <header-cell v-for="col in columnOptions"
                                 :dataIndex="col.dataIndex"
                                 :width="col.width"
                                 :text="col.name"
                                 :visible="col.visible"
                                 :draggable="col.draggable"
                                 :useFilter="treeOptions.useFilter"
                                 :useResize="treeOptions.useColumnResize">
                    </header-cell>
                </tr>
            </thead>
            <tbody @scroll="treeBodyScroll"
                   :style="{width:treeOptions.width+'px', height:treeOptions.height+'px'}">
                <div ref="evuiTreeItemContainer" class="evui-tree-item-container">
                    <div ref="evuiTreeItem" class="evui-tree-item"></div>
                    <tree-node v-for="node in treeMap"
                               key="node.id"
                               @node-expand="setExpandNode"
                               @node-checked="setCheckNode"
                               :columns="columnOptions"
                               :treeColumn="treeColumn"
                               :nodeObj="node"
                               :useCheckBox="treeOptions.useCheckBox">
                    </tree-node>
                </div>
            </tbody>
            <div ref="dragLine" class="tree-drag-line"></div>
        </table>
    </div>
    <div class="evui-tree-footer"></div>
</div>