.evui-tree-node {
    display: inline-block;
    vertical-align: middle;
}

.evui-tree-node-expand {
    cursor: pointer;
    margin: 0 5px 0 10px;
    border: 6px solid transparent;
    border-right-width: 0;
    border-left-color: #97a8be;
    border-left-width: 7px;
    transform: rotate(0);
    /*transition: transform .3s ease-in-out;*/
}

.evui-tree-node-expand.node-collapse {
    transform: rotate(90deg);
}


tbody td {
    min-width: 50px;
    background: #FAFAFA;
    font-size:12px;
    height:22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding : 0;
}

td .evui-tree-node-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

tr {
    border-left:1px solid transparent;
    border-right:1px solid transparent;
}

tr:nth-child(even) td { background: #F8F8F8; }

tr:nth-child(odd) td { background: #FEFEFE; }

tr:hover td{ background: #666; color: #FFF; }

