<div class="evui-tree-wrapper"
     :style="treeStyle">
    <div class="evui-tree-header">
        <span class="title"
              v-show="treeOptions.title"
              :style="titleStyle">
            {{treeOptions.title}}
        </span>
    </div>
    <div class="evui-tree-body">
        <table class="evui-tree-table">
            <thead>
                <tr>
                    <th v-for="col in columnOptions"
                        v-show="col.visible"
                        :width="col.width">
                        {{ col.name }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tree-node
                        v-for="node in treeMap"
                        key="node.id"
                        @node-expand="setExpandNode"
                        :columns="columnOptions"
                        :treeColumn="treeColumn"
                        :nodeObj="node">
                </tree-node>
            </tbody>
        </table>
    </div>
    <div class="evui-tree-footer"></div>
</div>