.evui-grid-header {

}

.evui-grid-body {

}

.evui-grid-body table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
}

th {
    background-color: #42b983;
    /*color: rgba(255,255,255,0.66);*/
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

table {
    /*overflow-x: auto;*/
    /*display:block;*/
    /*width: 700px;*/
    border-spacing: 0px;
    position:relative;
    background-color:#42b983;
    overflow:hidden;
    border-collapse: collapse;
}

thead {
    position: relative;
    display:block;
    /*width: 700px;*/
    overflow: visible;
}

thead th {
    background-color:#99a;
    min-width: 50px;
    height:35px;
    border: 1px solid #222;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

thead, tbody {
    /*display:block;*/
}

tbody {
    position:relative;
    display:block;
    overflow:auto;

}

tbody td {
    min-width: 50px;
    border-left:1px solid #222;
    border-right:1px solid #222;
    padding: 0px;
}

.row-even {
    background-color: #ffffff;
}

.row-odd {
    background-color: #e9e9e9;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.evui-grid-cell {
    border-spacing: 0;
    padding: 0 2px 0 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="checkbox"] {
    cursor:pointer;
}

#evui_grid_row_top > td, #evui_grid_row_bottom > td{
    padding:0px;
    border:0px;
}

.grid-drag-line {
    position: fixed;
    display: none;
    z-index: 3;
    width: 3px;
    background-color: rgba(51, 122, 183, 0.5);
}