<div class="evui-grid-wrapper"
     :style="gridStyle">
    <div class="evui-grid-header">
        <span class="title"
              v-show="gridOptions.title"
              :style="titleStyle">
            {{gridOptions.title}}
        </span>
    </div>
    <div class="evui-grid-body">
        <table>
            <thead>
            <tr>
                <th v-for="col in columnOptions"
                    v-show="col.cVisible"
                    @click="sortBy(col.cId)"
                    :data-column-name="col.cId"
                    :width="col.cWidth"
                    :class="{ active: sortKey == col.cId }">
                    {{ col.cName }}
                    <span class="arrow" :class="sortOrders[col.cId] > 0 ? 'asc' : 'dsc'"></span>
                    <div class="grip"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(entry, rowIdx) in sortedData" :class="rowIdx % 2 ? 'row-even' : 'row-odd'">
                <td v-for="(key, colIdx) in entry"
                    :class="cls(columnOptions[colIdx].cType)"
                    :style="{display: columnOptions[colIdx].cVisible ? 'table-cell' : 'none'} ">
                    {{ key }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="evui-grid-footer"></div>
</div>