<div class="evui-grid-wrapper"
     :style="gridStyle">
    <div class="evui-grid-header">
        <span class="title"
              v-show="gridOptions.title"
              :style="titleStyle">
            {{gridOptions.title}}
        </span>
    </div>
    <div class="evui-grid-body">
        <table ref="gridTable" :style="{width:gridOptions.width+'px'}">
            <thead ref="evuiGridThead" class="evui-grid-thead" :style="{width:gridOptions.width+'px'}">
            <tr>
                <header-cell v-for="col in columnOptions"
                             :key               ="col.id"
                             :dataIndex         ="col.dataIndex"
                             :sortKey           ="sortKey"
                             :width             ="col.width"
                             :text              ="col.name"
                             :cellRender        ="col.cellrender"
                             :draggable         ="col.draggable"
                             :value             ="isAllChecked"
                             :filter            ="col.filter"
                             @cellClick         ="onHeaderCellClick"
                             @allCheckChange    ="onAllCheckChange"
                             @clickFilterIcon   ="clickFilter"
                             @filterGrid        ="filterGrid"
                ></header-cell>
            </tr>
            </thead>
            <tbody @scroll="gridBodyScroll"
                   ref="evuiGridBody"
                   :style="{width:gridOptions.width+'px', height:gridOptions.height+'px'}">
                <div ref="evuiGridItemContainer" class="evui-grid-item-container">
                    <div ref="evuiGridItem" class="evui-grid-item">
                    <tr v-for="(entry, rowIdx) in bufferedData"
                    :class="rowIdx % 2 ? 'row-even' : 'row-odd'">
                        <cell v-for         = "col in columnOptions"
                              :key          = "col.id"
                              :dataIndex    = "col.dataIndex"
                              :width        = "col.width"
                              :visible      = "col.visible"
                              :cellRender   = "col.cellrender"
                              :class        = "cls(col.type)"
                              :value        = "entry[col.dataIndex]"
                              @checkChange  = "onCheckChange"
                              @cellClick    = "onCellClick"
                              @cellDblClick = "onCellDblClick"
                        ></cell>
                    </tr>
                    </div>
                </div>
            </tbody>
            <div ref="dragLine" class="grid-drag-line"></div>
        </table>
    </div>
    <div class="evui-grid-footer"></div>
</div>
