.evui-grid-header table {
    border: 2px solid #42b983;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    background-color: #fff;
}

.evui-grid-body table {
    border: 2px solid #42b983;
    border-radius: 0px 0px 3px 3px;
    background-color: #fff;
    overflow:scroll;
}

th {
    background-color: #42b983;
    /*color: rgba(255,255,255,0.66);*/
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    min-width: 50px;
    padding: 5px 0 5px 0;
    position: relative;
}

td {
    min-width: 50px;
    padding: 5px 0 5px 0;
}

.active .arrow {
    opacity: 1;
}

.grip {
    width: 5px;
    right:0;
    top: 0;
    bottom:0;
    cursor: col-resize;
    position: absolute;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.row-even {
    background-color: #ffffff;
}

.row-odd {
    background-color: #e9e9e9;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.evui-grid-cell {
    /*padding: 0 25px 0 25px;*/
}

input[type="checkbox"] {
    cursor:pointer;
}