.evui-grid-header {

}

.evui-grid-body {

}

.evui-grid-body table {
    border-spacing: 0px;
    position:relative;
    overflow:hidden;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
}

table {

}

thead {
    position: relative;
    display:block;
    /*width: 700px;*/
    overflow: visible;
}

thead th {
    min-width: 50px;
    height:25px;
    background-color:#DFDFDF;
    border: 1px solid transparent;
    padding: 0px;
    font-weight:bold;
    font-size:14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

tbody {
    position:relative;
    display:block;
    overflow:auto;

}

tbody td {
    min-width: 50px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr:hover td{ background: #666; color: #FFF; }

.row-even {
    background-color: #F8F8F8;
}

.row-odd {
    background-color: #FEFEFE;
}

.cell-align-right {
    text-align: right;
}

.cell-align-center {
    text-align: center;
}

.cell-align-left {
    text-align: left;
}

input[type="checkbox"] {
    cursor:pointer;
}

.evui-grid-item-container > div, .evui-grid-item > div{
    padding:0px;
    border:0px;
    position:absolute;
}

.grid-drag-line {
    position: fixed;
    display: none;
    z-index: 3;
    width: 3px;
    background-color: rgba(51, 122, 183, 0.5);
}
