@import 'variables';

$ev-themes: (
  light: (
    /* common
    -------------------------- */
    font-color-base: $color-black,
    color-line-base: #666666,
    color-primary: #1A6AFE,
    color-info: #5AC8FA,
    color-warning: #FF9500,
    color-error: #FF3B30,
    color-selected: #730EF4,
    color-not-allow: #B01012,
    color-disabled: #B2B2B2,
  ),
  dark: (
    /* common
    -------------------------- */
    font-color-base: $color-white,
    color-line-base: #666666,
    color-primary: #007AFF,
    color-info: #64D2FF,
    color-warning: #FF9F0A,
    color-error: #FF453A,
    color-selected: #791BF2,
    color-not-allow: #B01012,
    color-disabled: #555555,
  ),
) !default;
