@import '../../../style/index.scss';

.ev-tree-grid {
  $header-height: 33px;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: $header-height;

  &--empty {
    overflow: auto;
    .table-header {
      display: table;
    }
  }
  &.non-header {
    padding-top: 0;
  }
  .table-header {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height;

    @include evThemify() {
      border-top: 2px solid evThemed('grid-header-border');
      border-bottom: 1px solid evThemed('grid-bottom-border');
    }
  }
  .row-contextmenu__btn {
    display: none;
    vertical-align: middle;
  }
}

.column-list {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  list-style-type: none;
}

.column {
  display: inline-flex;
  position: relative;
  height: 100%;
  padding: 0 10px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: top;
  user-select: none;

  @include evThemify() {
    border-right: 1px solid evThemed('grid-bottom-border');
  }
  &:nth-last-child(1) {
    border-right: 0;
  }
  .sort-icon {
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 30px;

    @include evThemify() {
      color: evThemed('font-color-base');
    }
  }
  &.checkbox-all {
    padding: 0;
    .ev-checkbox {
      display: inline-flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

.column-name {
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 14px;
  &--click {
    cursor: pointer;
  }

  @include evThemify() {
    color: evThemed('font-color-base');
  }
}

.column-resize {
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 10px;
  height: 100%;
  &:hover {
    cursor: col-resize;
  }
}

.table-body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-anchor: none;
  table {
    clear: both;
    width: inherit;
    border-spacing: 0;
    border-collapse: collapse;
  }
  &.stripe tr:nth-child(even) {
    @include evThemify() {
      background: evThemed('grid-row-stripe');
    }
  }
  &.bottom-border {
    @include evThemify() {
      border-bottom: 1px solid evThemed('grid-bottom-border');
    }
  }
  .row {
    white-space: nowrap;

    @include evThemify() {
      border-bottom: 1px solid evThemed('grid-bottom-border');
    }
    &.selected {
      @include evThemify() {
        background: evThemed('grid-row-selected') !important;
        color: inherit !important;
      }
    }
    &.highlight {
      background: #5AB7FF;
      color: #FFFFFF;
    }
    &:hover {
      .row-contextmenu__btn {
        display: grid;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
  }

  .cell {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include evThemify() {
      border-right: 1px solid evThemed('grid-bottom-border');
    }
    &.row-checkbox {
      padding: 0;
      .ev-checkbox {
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    &.render {
      overflow: initial;
    }
    &.number,
    &.float {
      text-align: right;
    }
    &.string,
    &.stringNumber {
      text-align: left;
    }
    &.center {
      text-align: center;
    }
    &.left {
      text-align: left;
      .wrap {
        justify-content: flex-start;
      }
    }
    &.right {
      text-align: right;
      .wrap {
        justify-content: flex-end;
      }
    }
    &:last-child {
      border-right: 0;
    }
    &.tree-td {
      text-align: left !important;
      .td-content__wrapper {
        display: flex;
        position: relative;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.table-resize-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;

  @include evThemify() {
    border-right: 1px solid evThemed('grid-bottom-border');
  }
}

.vscroll-spacer {
  opacity: 0;
  clear: both;
}

[v-cloak] {
  display: none;
}

.ev-checkbox {
  margin: 0;
}

.non-border {
  border: none !important;
}

.is-empty {
  height: 30px;
  text-align: center;
}
