@import 'variables';

$ev-themes: (
  light: (
    /* common
    -------------------------- */
    color-primary: #1A6AFE,
    color-info: #5AC8FA,
    color-warning: #FF9500,
    color-error: #FF3B30,
    color-selected: #730EF4,
    color-not-allow: #B01012,
    color-disabled: #B2B2B2,

    background-color-base: $color-white,
    border-color-base: #DDDDDD,
    font-color-base: $color-black,
    background-color-description: #F8F8F8,
  ),
  dark: (
    /* common
    -------------------------- */
    color-primary: #007AFF,
    color-info: #64D2FF,
    color-warning: #FF9F0A,
    color-error: #FF453A,
    color-selected: #791BF2,
    color-not-allow: #B01012,
    color-disabled: #555555,

    background-color-base: #0D0D0D,
    border-color-base: #222222,
    font-color-base: $color-white,
    background-color-description: #333333,
  ),
) !default;
