// Font
$font-size-base: 12px !default;
$font-size-small: 11px !default;
$font-size-medium: 14px !default;
$font-size-large: 16px !default;

$font-weight-base: 400 !default;
$font-family-base: inherit !default;

// Common Color
$color-white: #FFFFFF !default;
$color-black: #0D0D0D !default;
$color-main: #67A1F4 !default;

// etc
$border-radius-base: 2px;
$border-solid: 1px solid;
$border-dotted: 1px dotted;

// layout
$header-height: 55px;
$nav-width: 240px;
