// Font
$font-size-base: 15px !default;
$font-size-small: 11px !default;
$font-size-medium: 14px !default;
$font-size-large: 16px !default;

$font-weight-base: 400 !default;
$font-family-base: inherit !default;

// Common Color
$color-white: #FFFFFF !default;
$color-black: #0D0D0D !default;
$color-blue: #3C81F6 !default;
$color-red: #FF470E !default;
$color-yellow: #FADE4C !default;

// etc
$border-radius-base: 2px;

// animate
$animate-base: 0.3s ease-in-out !default;
$animate-fast: 0.2s ease-in-out !default;

// layout
$header-height: 60px;
$nav-width: 0;
