/*************************************************
* --- Reset (used for all evui wdigetes)
* --- The reset is needed to coexist with other CSS
* --- on the same page (for example bootstrap)
*/
button {
  user-select: none;
}
.evui-reset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}
.evui-reset * {
  color: default;
  line-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.evui-table-reset table {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  max-width: none;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
}
.evui-table-reset input,
.evui-table-reset textarea {
  width: auto;
  height: auto;
  vertical-align: baseline;
  padding: 4px;
}
.evui-table-reset select {
  padding: 1px;
  height: 23px;
}
/*.evui-centered {*/
  /*position: absolute;*/
  /*left: 0px;*/
  /*right: 0px;*/
  /*top: 50%;*/
  /*-webkit-transform: translateY(-50%);*/
  /*-moz-transform: translateY(-50%);*/
  /*-ms-transform: translateY(-50%);*/
  /*-o-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
  /*max-height: 100%;*/
  /*margin: 0px;*/
  /*padding: 0px 10px;*/
  /*text-align: center;*/
/*}*/
/*.evui-disabled,*/
/*.evui-readonly {*/
  /*background-color: #f1f1f1 !important;*/
  /*color: #777 !important;*/
/*}*/
/*************************************************
* ---- Grid ----
*/
.evui-table {
  position: relative;
  border: 1px solid #50555C;
  border-radius: 2px;
  overflow: hidden !important;
}
.evui-table > div {
  position: absolute;
  overflow: hidden;
}
.evui-table .evui-table-header {
  position: absolute;
  border-bottom: 1px solid #50555C !important;
  height: 28px;
  overflow: hidden;
  color: #ABAEB5;
  font-size: 13px;
  text-align: center;
  padding: 7px;
  /*background-image: -webkit-linear-gradient(#515d78, #323948);*/
  /*background-image: -moz-linear-gradient(#515d78, #323948);*/
  /*background-image: -ms-linear-gradient(#515d78, #323948);*/
  /*background-image: -o-linear-gradient(#515d78, #323948);*/
  /*background-image: linear-gradient(#515d78, #323948);*/
  /*filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff515d78', endColorstr='#ff323948', GradientType=0);*/
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/*.evui-table .evui-table-toolbar {*/
  /*position: absolute;*/
  /*border-bottom: 1px solid #252c39;*/
  /*background-color: #434d64;*/
  /*height: 38px;*/
  /*padding: 7px 3px 4px 3px;*/
  /*margin: 0px;*/
  /*box-shadow: 0px 1px 2px #333333;*/
/*}*/
/*.evui-table .evui-toolbar-search {*/
  /*width: 160px;*/
  /*margin-right: 3px;*/
/*}*/
/*.evui-table .evui-toolbar-search .evui-search-all {*/
  /*outline: none !important;*/
  /*width: 160px;*/
  /*border-radius: 10px;*/
  /*line-height: normal;*/
  /*height: 22px;*/
  /*border: 1px solid #777f8c;*/
  /*color: #c0c8d5;*/
  /*background-color: #515b7e;*/
  /*padding: 3px 18px 3px 23px;*/
  /*margin: 0px;*/
/*}*/
/*.evui-table .evui-toolbar-search .evui-search-down {*/
  /*position: absolute;*/
  /*margin-top: -7px;*/
  /*margin-left: 6px;*/
/*}*/
/*.evui-table .evui-toolbar-search .evui-search-clear {*/
  /*position: absolute;*/
  /*width: 16px;*/
  /*height: 16px;*/
  /*margin-top: -8px;*/
  /*margin-left: -20px;*/
  /*border-radius: 15px;*/
  /*cursor: default;*/
/*}*/
/*.evui-table .evui-toolbar-search .evui-search-clear:hover {*/
  /*background-color: #D77F7F;*/
  /*color: white;*/
/*}*/
/*.evui-table .evui-toolbar-search .evui-search-clear:before {*/
  /*position: relative;*/
  /*top: 1px;*/
  /*left: 5px;*/
  /*opacity: 0.6;*/
  /*color: inherit;*/
  /*text-shadow: inherit;*/
  /*content: 'x';*/
  /*cursor: default;*/
/*}*/
.evui-table .evui-table-body {
  position: absolute;
  overflow: hidden;
  padding: 0px;
  background-color: #31343B;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.evui-table .evui-table-body input,
.evui-table .evui-table-body select,
.evui-table .evui-table-body textarea {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
}
.evui-table .evui-table-body .evui-table-columns {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  /*box-shadow: 0px 1px 4px #333333;*/
  height: auto;
}
.evui-table .evui-table-body .evui-table-columns table {
  height: auto;
}
.evui-table .evui-table-body .evui-table-columns .evui-table-columns-resizer {
  position: absolute;
  z-index: 1000;
  display: block;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  /* needed for IE */
  padding: 0px;
  margin: 0px;
  width: 6px;
  height: 12px;
  cursor: col-resize;
}
.evui-table .evui-table-body .evui-table-records {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.evui-table .evui-table-body .evui-table-records table tr.evui-odd {
  color: #ABAEB5 ;
  border-bottom: #50555C 1px solid;
  /*background-color: #526083;*/
}
.evui-table .evui-table-body .evui-table-records table tr.evui-odd:hover {
  /*color: #ABAEB5;*/
  /*background-color: #31343B;*/
}
.evui-table .evui-table-body .evui-table-records table tr.evui-odd.evui-empty-record:hover {
  /*background-color: #526083;*/
}
.evui-table .evui-table-body .evui-table-records table tr.evui-even {
  color: #ABAEB5;
  border-bottom: #50555C 1px solid;
  /*background-color: #495474;*/
}
.evui-table .evui-table-body .evui-table-records table tr.evui-even:hover {
  /*color: #dae4f8;*/
  /*background-color: #363f5d;*/
}
.evui-table .evui-table-body .evui-table-records table tr.evui-even.evui-empty-record:hover {
  /*background-color: #495474;*/
}
/*.evui-table .evui-table-body .evui-table-records table tr.evui-selected,*/
/*.evui-table .evui-table-body .evui-table-records table tr td.evui-selected {*/
  /*color: #eeeeee !important;*/
  /*background-color: #292f3c !important;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-expanded {*/
  /*background-color: #CCDCF0 !important;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-expanded1 {*/
  /*height: 0px;*/
  /*border-bottom: 1px solid #b2bac0;*/
  /*background-color: #CCDCF0;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-expanded1 > div {*/
  /*height: 100%;*/
  /*margin: 0px;*/
  /*padding: 0px;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-expanded2 {*/
  /*height: 0px;*/
  /*border-radius: 0px;*/
  /*border-bottom: 1px solid #b2bac0;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-expanded2 > div {*/
  /*height: 0px;*/
  /*border: 0px;*/
  /*transition: height .3s, opacity .3s;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-load-more {*/
  /*border-top: 1px solid #3d4563;*/
  /*cursor: pointer;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-load-more > div {*/
  /*text-align: center;*/
  /*color: #bbbbbb;*/
  /*background-color: inherit;*/
  /*padding: 10px 0px 15px 0px;*/
  /*border-top: 1px solid #434d64;*/
/*}*/
/*.evui-table .evui-table-body .evui-table-records .evui-load-more > div:hover {*/
  /*color: #dae4f8;*/
  /*background-color: #363f5d;*/
/*}*/
.evui-table .evui-table-body table {
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 1px;
}
.evui-table .evui-table-body table .evui-table-columns-head {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #50555C;
  border-bottom: 1px solid #50555C;
  color: #ABAEB5 ;
  background-color: #282B32;
  /*background-image: -webkit-linear-gradient(#495474, #404860);
  background-image: -moz-linear-gradient(#495474, #404860);
  background-image: -ms-linear-gradient(#495474, #404860);
  background-image: -o-linear-gradient(#495474, #404860);
  background-image: linear-gradient(#495474, #404860);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff495474', endColorstr='#ff404860', GradientType=0);*/
}
.evui-table .evui-table-body table .evui-table-columns-head > div {
  padding: 7px 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
/*.evui-table .evui-table-body table .evui-head.evui-reorder-cols-head:hover {*/
  /*cursor: move;*/
/*}*/
.evui-table .evui-table-body table td {
  /*border-right: 1px solid #3d4563;*/
  border-bottom: 0px solid transparent;
  cursor: default;
  overflow: hidden;
}
.evui-table .evui-table-body table td.evui-table-data {
  margin: 0px;
  padding: 0px;
}
.evui-table .evui-table-body table td.evui-table-data > div {
  padding: 3px 3px 3px 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.evui-table .evui-table-body table td.evui-table-data > div.flexible-record {
  height: auto;
  overflow: visible;
  white-space: normal;
}
.evui-table .evui-table-body table td:last-child {
  border-right: 0px;
}
/*.evui-table .evui-table-body table .evui-col-number {*/
  /*width: 34px;*/
  /*color: #bbbbbb;*/
  /*background-color: inherit;*/
/*}*/
/*.evui-table .evui-table-body table .evui-col-number div {
  padding: 0px 7px 0px 3px;
  text-align: right;
}
.evui-table .evui-table-body table .evui-col-select {
  width: 26px;
}
.evui-table .evui-table-body table .evui-col-select div {
  padding: 0px 0px;
  text-align: center;
  overflow: hidden;
}
.evui-table .evui-table-body table .evui-col-select div input[type=checkbox] {
  margin-top: 2px;
  position: relative;
}
.evui-table .evui-table-body table .evui-col-expand {
  width: 26px;
}
.evui-table .evui-table-body table .evui-col-expand div {
  padding: 0px 0px;
  text-align: center;
  font-weight: bold;
}*/
.evui-table .evui-table-body div.evui-table-col-header {
  height: auto !important;
  width: 100%;
  overflow: hidden;
  padding-right: 10px !important;
}
.evui-table .evui-table-body div.evui-table-col-header > div.evui-sort-up {
  border: 4px solid transparent;
  border-bottom: 5px solid #ABAEB5 ;
  margin-top: -2px;
  margin-right: -7px;
  float: right;
}
.evui-table .evui-table-body div.evui-table-col-header > div.evui-sort-down {
  border: 4px solid transparent;
  border-top: 5px solid #ABAEB5 ;
  margin-top: 2px;
  margin-right: -7px;
  float: right;
}
.evui-table .evui-table-body .evui-col-group {
  text-align: center;
}
.evui-table .evui-changed {
  background: url(data:image/gif;base64,R0lGODlhCgAKAJEAALAABf///wAAAAAAACH5BAkKAAIAIf8LSUNDUkdCRzEwMTL/AAAHqGFwcGwCIAAAbW50clJHQiBYWVogB9kAAgAZAAsAGgALYWNzcEFQUEwAAAAAYXBwbAAAAAAAAAAAAAAAAAAAAAAAAPbWAAEAAAAA0y1hcHBsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALZGVzYwAAAQgAAABvZHNjbQAAAXgAAAVsY3BydAAABuQAAAA4d3RwdAAABxwAAAAUclhZWgAABzAAAAAUZ1hZWgAAB0QAAAAUYlhZWgAAB1gAAAAUclRSQwAAB2wAAAAOY2hhZAAAB3wAAAAsYlRSQwAAB2wAAAAOZ1RS/0MAAAdsAAAADmRlc2MAAAAAAAAAFEdlbmVyaWMgUkdCIFByb2ZpbGUAAAAAAAAAAAAAABRHZW5lcmljIFJHQiBQcm9maWxlAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABtbHVjAAAAAAAAAB4AAAAMc2tTSwAAACgAAAF4aHJIUgAAACgAAAGgY2FFUwAAACQAAAHIcHRCUgAAACYAAAHsdWtVQQAAACoAAAISZnJGVQAAACgAAAI8emhUVwAAABYAAAJkaXRJVAAAACgAAAJ6bmJOTwAAACYAAAKia29LUgAAABYAAP8CyGNzQ1oAAAAiAAAC3mhlSUwAAAAeAAADAGRlREUAAAAsAAADHmh1SFUAAAAoAAADSnN2U0UAAAAmAAAConpoQ04AAAAWAAADcmphSlAAAAAaAAADiHJvUk8AAAAkAAADomVsR1IAAAAiAAADxnB0UE8AAAAmAAAD6G5sTkwAAAAoAAAEDmVzRVMAAAAmAAAD6HRoVEgAAAAkAAAENnRyVFIAAAAiAAAEWmZpRkkAAAAoAAAEfHBsUEwAAAAsAAAEpHJ1UlUAAAAiAAAE0GFyRUcAAAAmAAAE8mVuVVMAAAAmAAAFGGRhREsAAAAuAAAFPgBWAWEAZQBvAGIAZQD/YwBuAP0AIABSAEcAQgAgAHAAcgBvAGYAaQBsAEcAZQBuAGUAcgBpAQ0AawBpACAAUgBHAEIAIABwAHIAbwBmAGkAbABQAGUAcgBmAGkAbAAgAFIARwBCACAAZwBlAG4A6AByAGkAYwBQAGUAcgBmAGkAbAAgAFIARwBCACAARwBlAG4A6QByAGkAYwBvBBcEMAQzBDAEOwRMBD0EOAQ5ACAEPwRABD4ERAQwBDkEOwAgAFIARwBCAFAAcgBvAGYAaQBsACAAZwDpAG4A6QByAGkAcQB1AGUAIABSAFYAQpAadSgAIABSAEcAQgAggnJfaWPPj/AAUAByAG8AZgBp/wBsAG8AIABSAEcAQgAgAGcAZQBuAGUAcgBpAGMAbwBHAGUAbgBlAHIAaQBzAGsAIABSAEcAQgAtAHAAcgBvAGYAaQBsx3y8GAAgAFIARwBCACDVBLhc0wzHfABPAGIAZQBjAG4A/QAgAFIARwBCACAAcAByAG8AZgBpAGwF5AXoBdUF5AXZBdwAIABSAEcAQgAgBdsF3AXcBdkAQQBsAGwAZwBlAG0AZQBpAG4AZQBzACAAUgBHAEIALQBQAHIAbwBmAGkAbADBAGwAdABhAGwA4QBuAG8AcwAgAFIARwBCACAAcAByAG8AZgBpAGxmbpAaACAAUgBHAEIAIGPPj//wZYdO9k4AgiwAIABSAEcAQgAgMNcw7TDVMKEwpDDrAFAAcgBvAGYAaQBsACAAUgBHAEIAIABnAGUAbgBlAHIAaQBjA5MDtQO9A7kDugPMACADwAPBA78DxgOvA7sAIABSAEcAQgBQAGUAcgBmAGkAbAAgAFIARwBCACAAZwBlAG4A6QByAGkAYwBvAEEAbABnAGUAbQBlAGUAbgAgAFIARwBCAC0AcAByAG8AZgBpAGUAbA5CDhsOIw5EDh8OJQ5MACAAUgBHAEIAIA4XDjEOSA4nDkQOGwBHAGUAbgBlAGwAIABSAEcAQgAgAFAAcgBvAGYAaQBsAGkAWQBsAGX/AGkAbgBlAG4AIABSAEcAQgAtAHAAcgBvAGYAaQBpAGwAaQBVAG4AaQB3AGUAcgBzAGEAbABuAHkAIABwAHIAbwBmAGkAbAAgAFIARwBCBB4EMQRJBDgEOQAgBD8EQAQ+BEQEOAQ7BEwAIABSAEcAQgZFBkQGQQAgBioGOQYxBkoGQQAgAFIARwBCACAGJwZEBjkGJwZFAEcAZQBuAGUAcgBpAGMAIABSAEcAQgAgAFAAcgBvAGYAaQBsAGUARwBlAG4AZQByAGUAbAAgAFIARwBCAC0AYgBlAHMAawByAGkAdgBlAGwAcwBldGV4dAAAAABDb3B5cmlnaHQgMjAwrzcgQXBwbGUgSW5jLiwgYWxsIHJpZ2h0cyByZXNlcnZlZC4AWFlaIAAAAAAAAPNSAAEAAAABFs9YWVogAAAAAAAAdE0AAD3uAAAD0FhZWiAAAAAAAABadQAArHMAABc0WFlaIAAAAAAAACgaAAAVnwAAuDZjdXJ2AAAAAAAAAAEBzQAAc2YzMgAAAAAAAQxCAAAF3v//8yYAAAeSAAD9kf//+6L///2jAAAD3AAAwGwALAAAAAAKAAoAAAIPlA2ZdwrcFkRvIouz3rAAADs=) no-repeat top right;
}
.evui-table .evui-editable {
  overflow: hidden;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.evui-table .evui-editable input {
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 4px 3px;
  width: 100%;
  height: 100%;
}
/*.evui-table .evui-editable input.evui-select {
  outline: none !important;
  background: #fff;
}
.evui-table .evui-table-summary {
  position: absolute;
  box-shadow: 0px -1px 4px #333333;
}
.evui-table .evui-table-summary table {
  color: #c0c8d5;
}
.evui-table .evui-table-summary table .evui-odd {
  background-color: #495474;
}
.evui-table .evui-table-summary table .evui-even {
  background-color: #495474;
}*/
.evui-table .evui-table-footer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 24px;
  overflow: hidden;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  box-shadow: 0px -1px 4px #333333;
  color: #c0c8d5;
  background-color: #282B32;
  border-top: 1px solid #50555C;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.evui-table .evui-table-footer .evui-footer-left {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}
.evui-table .evui-table-footer .evui-footer-right {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
.evui-table .evui-table-footer .evui-footer-center {
  padding: 2px;
  text-align: center;
}
/*.evui-table .evui-table-footer .evui-footer-center .evui-footer-nav {
  width: 110px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
.evui-table .evui-table-footer .evui-footer-center .evui-footer-nav input[type=text] {
  padding: 1px 2px 2px 2px;
  border-radius: 3px;
  width: 40px;
  text-align: center;
}
.evui-table .evui-table-footer .evui-footer-center .evui-footer-nav a.evui-footer-btn {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
  line-height: 16px;
  padding: 1px 5px;
  width: 30px;
  height: 18px;
  margin-top: -1px;
  color: #c0c8d5;
  background-color: transparent;
}
.evui-table .evui-table-footer .evui-footer-center .evui-footer-nav a.evui-footer-btn:hover {
  color: #000000;
  background-color: #aec8ff;
}*/
/*.evui-table .evui-table-body .evui-table-scroll {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #FAFAFA;
}*/
.evui-table-head-ghost {
  width: 100px;
  height: 25px;
  border: solid 1px #50555C;
  color: #ABAEB5;
  font-size: 13px;
  padding: 2px;
  /*border-right: 1px solid #c5c5c5;*/
  /*border-bottom: 1px solid #c5c5c5;*/
  background-color: #282B32;
  /*z-index: 9999;*/
  /*background-image: linear-gradient(#f9f9f9, #e4e4e4);*/
  opacity: 0.8;
  /*padding: 6px 3px;*/
  display: none;
}
.evui-table-col-intersection-marker {
  padding: 0;
  position: absolute;
  height: 27px;
  top: 0;
  left: 0;
  margin-left: -5px;
  /*z-index: 9999;*/
  display: none;
}
.evui-table-col-intersection-marker .evui-table-top-marker {
  position: relative;
  top: 0;
  height: 0;
  width: 0;
  border-top: 5px solid #72b2ff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.evui-table-col-intersection-marker .evui-table-bottom-marker {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 5px solid #72b2ff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.evui-table-menu {
  width: 220px;
  border: 1px solid black;
  position: absolute;
  display: none;
  /*top: 71px;*/
  /*z-index: 20000;*/
  /*left: 69px;*/
  background: #f5f7f7;
}
.evui-table-menu-tab-header {
  height: 25px;
  border: solid 1px black;
}
.evui-table-menu-tab-body {
  max-height: 300px;
}
.evui-table-records-col {
  max-height: 24px;
}
.evui-table-records-col.evui-col-number {
  float: right;
}
